@import url(http://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin);
/* line 8, ../sass/main.scss */
* {
  box-sizing: border-box;
}
/* line 53, ../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/css3/_selection.scss */
*::-moz-selection {
  color: white;
  background-color: #435c77;
}
/* line 53, ../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/css3/_selection.scss */
*::selection {
  color: white;
  background-color: #435c77;
}

/* line 13, ../sass/main.scss */
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: #222;
  background: url('../img/bg.jpg?1421162806') no-repeat top center fixed;
  -moz-background-size: "cover";
  -o-background-size: "cover";
  -webkit-background-size: "cover";
  background-size: "cover";
}
@media only screen and (max-width: 510px) {
  /* line 13, ../sass/main.scss */
  html {
    background: #eee;
  }
}
/* line 27, ../sass/main.scss */
html body {
  height: 100%;
  min-width: 210px;
}
/* line 31, ../sass/main.scss */
html body content {
  width: 500px;
  background: rgba(255, 255, 255, 0.7);
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -265px;
  margin-left: -250px;
  text-align: center;
}
@media only screen and (min-width: 511px) {
  /* line 31, ../sass/main.scss */
  html body content {
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
  }
}
@media only screen and (max-width: 510px) {
  /* line 31, ../sass/main.scss */
  html body content {
    position: static;
    display: block;
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 20px;
  }
}
/* line 57, ../sass/main.scss */
html body content .photo {
  width: 135px;
  height: 135px;
  border-radius: 100%;
  margin: -92px auto 0;
}
@media only screen and (max-width: 510px) {
  /* line 57, ../sass/main.scss */
  html body content .photo {
    margin-top: 0;
  }
}
/* line 68, ../sass/main.scss */
html body content .name {
  font-size: 28px;
  text-align: center;
  margin: 10px 0 0;
}
/* line 74, ../sass/main.scss */
html body content .info {
  font-size: 16px;
  text-align: center;
  margin: 5px 0 30px;
}
/* line 80, ../sass/main.scss */
html body content .social {
  margin-top: 50px;
}
/* line 83, ../sass/main.scss */
html body content .social a {
  text-decoration: none;
  color: #222;
}
/* line 88, ../sass/main.scss */
html body content .social i {
  width: 16px;
  font-size: 16px;
  height: 16px;
  border: 1px solid #222;
  padding: 4px;
  box-sizing: content-box;
  border-radius: 100%;
  cursor: pointer;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 99, ../sass/main.scss */
html body content .social i:hover {
  color: #777;
  border-color: #777;
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
@media only screen and (min-width: 511px) {
  /* line 109, ../sass/main.scss */
  html body.before-animation content {
    opacity: 0;
    margin-top: -300px;
  }
}
